.container-wishlist {
    margin: 0 60px;
}

.menu1 {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 2fr 1fr 1fr;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    font-size: 25px;
}

.wishlist-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.wishlist-item {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;

    align-items: center;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    gap: 10px;
}

.product-info {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 2;
}

.product-info img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 6px;
}

.product-name {
    font-size: 25px;
    color: #333;
    font-weight: 500;
    margin-left: 10px;
}


.add-to-cart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.product-quantity {
    font-size: 18px;
    font-weight: 500;
    margin-left: 100px;

}

.product-price {
    font-size: 16px;
    font-weight: 500;
    margin-left: 80px;
}

.price7 {
    margin-right: 180px;
    color: #010101;
}

.quantity7 {
    margin-left: 110px;
    color: #010101;
}

.product7 {
    margin-right: 110px;
    color: #010101;
}


.remove-item {
    background: none;
    border: none;
    color: rgb(11, 1, 1);
    font-size: 20px;
    cursor: pointer;
    width: 20%;
}

.add-to-cart {
    width: 45%;
    background-color: #E7180D;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 10px;
}

.add-to-cart:hover {
    background-color: #000000;

    transition: all 0.3s ease;
}